.event-container {
  display: flex;
  height: 100vh;
  background-color: #181C29;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #212738;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3CB5FB;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 5px;
}

.nav-links li:hover, .nav-links .active {
  background-color: #3CB5FB;
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

hr {
  border: 0.5px solid #444;
  margin: 20px 0;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Filters */
.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  background: transparent;
  color: white;
  border: 1px solid #3CB5FB;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filter-btn.active {
  background-color: #3CB5FB;
}

.search-box {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #3CB5FB;
  background-color: transparent;
  color: white;
  width: 200px;
}

/* Event List */
.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-card {
  display: flex;
  align-items: center;
  background-color: #212738;
  padding: 15px;
  border-radius: 15px;
}

.event-image {
  width: 110px;
  height: 80px;
  background-color: #ddd;
  border-radius: 10px;
  margin-right: 15px;
}

.event-details {
  flex-grow: 1;
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  color: #3CB5FB;
  margin-bottom: 5px;
}

.event-info {
  font-size: 14px;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.view-btn {
  background-color: #3CB5FB;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.bookmark-btn {
  background: transparent;
  color: white;
  border: 1px solid #bbbbbb;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

